@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300;14..32,400;14..32,600;14..32,700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

@keyframes pulse-slow {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(245, 158, 11, 0.4);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(245, 158, 11, 0);
  }
}
.animate-pulse-slow {
  animation: pulse-slow 2s infinite;
}